.ForecastPreview .new-temperature {
margin-top: 10px;
padding:none;
}

.ForecastPreview .hours {
    margin-bottom: -50px;
}

.sc-pFZIQ.cbznGz{
    margin-top:-35px;
    margin-bottom:-5px;
}

.sc-fubCfw.kHGOdP{
position:absolute;
top:46%;
left:45%;
width:2.5em;
height:2.5em;
background: #FFFFFF;
margin:-1.25e m;
border-radius:50%;
box-shadow: 0 0 0 0.375e m #ffeb3b;
animation:cqkDSr 12s infinite linear;


}

