.sc-bdfBwQ.deqAro {
    position:block;
    top:50%;
    left:35%;
    width:3em;
    height:3em;
    margin:-1.84375em;
    margin-left:0em;
    background: #FFFFFF;
    border-radius:50%;
    box-shadow:-2.1875em 0.6875em 0 - 0.6875em #ffffff,
    2.0625em 0.9375em 0 - 0.9375em #ffffff,
    0 0 0 0.375em #607d8b,
    -2.1875em 0.6875em 0 - 0.3125em #607d8b,
    2.0625em 0.9375em 0 - 0.5625em #607d8b;
}

.forecastpreview .col-2 {
flex: 0 0 16.666667%;
max-width:25%;
}
