.kHGOdP {
position: absolute; 
top: 50px;
left:50px;
width:2.5em;
height:2.5em;
background: white;
margin:-1.25em;
border-radius:50%;
box-shadow:0 0 0 0.375em #ffeb3b;
animation:cqkDSr 12s infinite linear;
}


.IconTemp .IconTemp .temperature {

    margin-top: -10px;
    padding: none;
}