.sc-fubCfw.kHGOdP {
    position : absolute;
    top: 20%;
    left:40%;
    width:1.5em;
    height: 1.5em;
    background: #FFFFFF;
    margin:-1.25e m;
    border-radius:50%;
    box-shadow:0 0 0 0.375e m #ffeb3b;
    -webkit-animation:cqkDSr 12 s infinite linear;
    animation: cqkDSr 12s infinite linear;

}

.sc-pFZIQcbznGz {
    position:relative;
    height:7em;
    width:4em;
    font-size:0em;
}
.cbznGz{

position:relative;
height: 7em;
width:5em;
font-size:1em;

}
