.sc-fubCfw.kHGOdP {
position: absolute;
top:20%;
left:40%;
width:2.5em;
height:2.5em;
background: #FFFFFF;
margin: -1.25em;
border-radius: 50%;
box-shadow: 0 0 0 0.375e m #ffeb3b;
-webkit-animation: cqkDSr 12 s infinite linear;
animation:cqkDSr 12 s infinite linear;

}

.sc-pFZIQcbznGz {
    position: relative;
    display:inline-block;
    height:0em;
    width: 5em;
    font-size: 0em;
}

 .temperature {
    margin-left: 95px; 
}
.unit{
    color: gray;
}
