.Search .Searching {

    background-color: white; 
    border-radius: 5px;
    font-style:"Playfair Display script=latin rev=2""Playfair Display script=latin rev=2" - 400 italic;
}

.Search .Searching:hover {

    transition: ease-in-out;
    background-color:rgb(219, 240, 196);

}

.Search .Temp{
    font-size:10px;
}


.Search .IconTemp{
    margin-right:10px;
}