.Weather {
    border: 2px solid gray;
    background-image: url(C:\Users\inord\Desktop\SheCodes\natureweatherapp-react\src\Waterfall.jpg);
    color: White;
    margin: 20px auto;
    max-width: 700px;
    padding: 14px;
    border-radius:20px;

}




